{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row row-cols-2 g-2 mt-5 pt-3">
    {% for i in empty %}

    
        <div class="col-md-3">
            <div class="card bg-dark" style="height: 400px;">
                <img src="{{i.image.url}}" alt="a snow-capped mountain range" style="height: 200px;" />
                <div class="card-body">
                    <p class="card-title text-white">{{i.fullname}}</p>
                    <p class="card-title text-white">{{i.secondname}}</p>
                    <p class="card-title text-white">{{i.email}}</p>
                    
                    
                    <a href="delete/{{i.imgid}}">
                        <button type="submit" class="btn btn-outline-danger">
                            Delete
                        </button>
                    </a>
                    <a href="edit/{{i.imgid}}">
                        <button type="submit" class="btn btn-outline-warning">
                            Edit
                        </button>
                    </a>
                </div>
            </div>
        </div>
        

    

    {% endfor %}
</div>

</div>
{% endblock content %}